{% extends 'landing/layouts/base.html' %}

{% block main %}
    <style>
        body {
            background: black;
        }
        main div {
            padding: 9rem 0;
            color: white;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            h1 {
                font-size: 6rem;
                margin: 0;
            }
            p {
                font-size: 1.5rem;
                color: #747478;
            }
        }
    </style>
    <div>
        <h1>Компьютерная Академия</h1> 
        <h1>IT STEP</h1>
        <p>IT-образование, каким оно должно быть</p>
    </div>
{% endblock main %}