{% extends 'landing/layouts/base.html' %}

{% block main %}
    <style>
        main div {
                background-image: url(https://tashkent.itstep.org/dist/images/home/redesign/banner-l.png);
                background-size: cover;
                height: 40dvh;
                display: flex;
                flex-direction: column;
                padding: 10rem;
                h1 {
                    font-size: 4rem;
                }
                p {
                    font-size: 1.5rem;
                }
            }
    </style>
    <div>
        <h1>IT STEP Academy</h1>
        <p>Качественное обучение IT специальностям для взрослых и детей</p>
    </div>
{% endblock main %}